{
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "useTabs": false,
    "bracketSameLine": false,
    "semi": true,
    "arrowParens": "always",
    "endOfLine": "auto"

}